In [269]:
#HEROES OF PYMOLI

# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [270]:
# Display the total number of players
# Grab the data contained within the "SN" row. Remove any duplicate SNs. 
unique_players = purchase_data.drop_duplicates(subset='SN')

#Isolate the number of players by SN, and get an integer of the sum of the number of unique players.
unique_players_sn = unique_players[["SN"]]
total_players = unique_players_sn.count()[0]

#Create a dataframe for the total number of players.
total_player_df = pd.DataFrame({
    "Total Players": [total_players]
})

total_player_df

   Total Players
0            576

In [271]:
#Run basic calculations to obtain number of unique items, average price, number of purchases, and total revenue.
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame


# Grab the data contained within the "Item Name" row. Remove any duplicate items.
unique_items = purchase_data.drop_duplicates(subset='Item Name')

#Get a variable expressed as an integer of the sum of the number of unique items.
total_items = unique_items.count()[0]

#Create variables for the total revenue, the number of purchases, and the average price.
total_revenue = purchase_data["Price"].sum()
number_purchases = purchase_data["Purchase ID"].count()
average_price = total_revenue/number_purchases

#Create a data frame.
purchase_data_df = pd.DataFrame({
    "Number of Unique Items": [total_items],
    "Average Price": [average_price],
    "Number of Purchases": [number_purchases],
    "Total Revenue": [total_revenue]
})

#Convert the average price and total revenue into dollar format.
purchase_data_df["Average Price"] = purchase_data_df["Average Price"].map("${:.2f}".format)
purchase_data_df["Total Revenue"] = purchase_data_df["Total Revenue"].map("${:.2f}".format)


purchase_data_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [272]:
#Gender Demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

#Get a count of the number of unique players per gender.
gender_count = unique_players.value_counts('Gender')

#Get a ratio for the number of unique players per gender against the total number of unique players.
ratio_df = gender_count/total_players

#Create a data frame.
gender_data_df = pd.DataFrame({
    "Total Count": gender_count,
    "Percentage of Players": ratio
    
})

#Convert the percentage of players into percent format with two decimal places.
gender_data_df["Percentage of Players"] = gender_data_df["Percentage of Players"].map("{:.2f}%".format)

gender_data_df.head()

                       Total Count Percentage of Players
Gender
Male                           484                 0.84%
Female                          81                 0.14%
Other / Non-Disclosed           11                 0.02%

In [273]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

#Get a count of the total items without filtering.

#Get a count of the number of unique players per gender.
gender_item_count = purchase_data.value_counts(['Gender'])

gender_item_count

total_items_male_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]
total_items_female_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]
total_items_other_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

#Get a count of purchases per gender.
purchase_count_male = total_items_male_df["Price"].count()
purchase_count_female = total_items_female_df["Price"].count()
purchase_count_other = total_items_other_df["Price"].count()

#Get the sum of the purchases per gender.
total_price_male = total_items_male_df["Price"].sum()
total_price_female = total_items_female_df["Price"].sum()
total_price_other = total_items_other_df["Price"].sum()

#Take the sum of purchases per gender and divide by the number of purchases per gender.
average_price_male = total_price_male/652
average_price_female = total_price_female/113
average_price_other = total_price_other/15

#Take the sum of purchases per gender and divide by the number of unique SN's per gender.
average_price_male_pp = total_price_male/484
average_price_female_pp = total_price_female/81
average_price_other_pp = total_price_other/11



#Create a data frame.
gender_purchase_data_df = pd.DataFrame({
    "Purchase Count": [purchase_count_male, purchase_count_female, purchase_count_other],
    "Average Purchase Price": [average_price_male, average_price_female, average_price_other],
    "Total Purchase Value": [total_price_male, total_price_female, total_price_other],
    "Average Total Purchase per Person": [average_price_male_pp, average_price_female_pp, average_price_other_pp]
})

gender_purchase_data_df


#Convert the average price and total revenue into dollar format.
gender_purchase_data_df["Average Purchase Price"] = gender_purchase_data_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_data_df["Total Purchase Value"] = gender_purchase_data_df["Total Purchase Value"].map("${:.2f}".format)
gender_purchase_data_df["Average Total Purchase per Person"] = gender_purchase_data_df["Average Total Purchase per Person"].map("${:.2f}".format)

IndexError: invalid index to scalar variable.

In [161]:
#Age Demographics
#Percentage and Count of by age
#Percentage and Count of age
#Percentage and Count of age
#Display Age Demographics Table


# Create the bins in which Data will be held 
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]


unique_players["Age of Player"] = pd.cut(unique_players["Age"], bins, labels=group_names, include_lowest=True)
unique_players

#Find the percent of each age group
age_count = unique_players["Age of Player"].value_counts()

age_count_percent = (age_count/total_players)*100

#Create a data frame
age_data_df = pd.DataFrame({
    "Total Count": age_count,
    "Percentage of Players": age_count_percent
    
})


#Format the percentage to %
age_data_df["Percentage of Players"] = age_data_df["Percentage of Players"].map("{:.2f}%".format)

#Reindex
new_index_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_df = age_data_df.reindex(new_index_age)

age_df

<ipython-input-161-aa79e9d5cdc6>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_players["Age of Player"] = pd.cut(unique_players["Age"], bins, labels=group_names, include_lowest=True)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [286]:
#******Purchasing Analysis (Age)
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

purchase_data

#Get a count of the number of unique players per gender.
age_item_count = unique_players.value_counts(['Age'])

age_item_count

total_items_1_df = purchase_data.loc[purchase_data["Age"] == "<10", :]
total_items_2_df = purchase_data.loc[purchase_data["Age"] == "10-14", :]
total_items_3_df = purchase_data.loc[purchase_data["Age"] == "15-19", :]
total_items_4_df = purchase_data.loc[purchase_data["Age"] == "20-24", :]
total_items_5_df = purchase_data.loc[purchase_data["Age"] == "25-29", :]
total_items_6_df = purchase_data.loc[purchase_data["Age"] == "30-34", :]
total_items_7_df = purchase_data.loc[purchase_data["Age"] == "35-39", :]
total_items_8_df = purchase_data.loc[purchase_data["Age"] == "40+", :]

#Get a count of items per age group.
purchase_count_1 = total_items_1_df["Age"].count()
purchase_count_2 = total_items_2_df["Age"].count()
purchase_count_3 = total_items_3_df["Age"].count()
purchase_count_4 = total_items_4_df["Age"].count()
purchase_count_5 = total_items_5_df["Age"].count()
purchase_count_6 = total_items_6_df["Age"].count()
purchase_count_7 = total_items_7_df["Age"].count()
purchase_count_8 = total_items_8_df["Age"].count()

#Get a total of the prices of the items purchased per age group.
total_price_1 = total_items_1_df["Age"].sum()
total_price_2 = total_items_2_df["Age"].sum()
total_price_3 = total_items_3_df["Age"].sum()
total_price_4 = total_items_4_df["Age"].sum()
total_price_5 = total_items_5_df["Age"].sum()
total_price_6 = total_items_6_df["Age"].sum()
total_price_7 = total_items_7_df["Age"].sum()
total_price_8 = total_items_8_df["Age"].sum()

#Get the average price per purchase.
average_price_1 = total_price_1/17
average_price_2 = total_price_2/22
average_price_3 = total_price_3/107
average_price_4 = total_price_4/258
average_price_5 = total_price_5/77
average_price_6 = total_price_6/52
average_price_7 = total_price_7/31
average_price_8 = total_price_8/12

#Get the average price per player (unique SN).
average_price_1_pp = total_price_1/23
average_price_2_pp = total_price_2/28
average_price_3_pp = total_price_3/136
average_price_4_pp = total_price_4/365
average_price_5_pp = total_price_5/101
average_price_6_pp = total_price_6/73
average_price_7_pp = total_price_7/41
average_price_8_pp = total_price_8/13

#Create a data frame.
age_purchase_data_df = pd.DataFrame({
    "Purchase Count": [purchase_count_1, purchase_count_2, purchase_count_3, purchase_count_4, purchase_count_5, purchase_count_6, purchase_count_7, purchase_count_8],
    "Average Purchase Price": [average_price_1, average_price_2, average_price_3, average_price_4, average_price_5, average_price_6, average_price_7, average_price_8],
    "Total Purchase Value": [total_price_1, total_price_1, total_price_2, total_price_3, total_price_4, total_price_5, total_price_6, total_price_7],
    "Average Total Purchase per Person": [average_price_1_pp, average_price_2_pp, average_price_3_pp, average_price_4_pp, average_price_5_pp, average_price_6_pp, average_price_7_pp, average_price_8_pp]
})

age_purchase_data_df

#Reformat to $XX.XX.
age_purchase_data_df["Average Purchase Price"] = age_purchase_data_df["Average Purchase Price"].map("${:.2f}".format)
age_purchase_data_df["Total Purchase Value"] = age_purchase_data_df["Total Purchase Value"].map("${:.2f}".format)
age_purchase_data_df["Average Total Purchase per Person"] = age_purchase_data_df["Average Total Purchase per Person"].map("${:.2f}".format)


#Reindex
new_index_age_purchase = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_purchase_df = age_purchase_data_df.reindex(new_index_age_purchase)

age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,NaN,NaN,NaN,NaN
10-14,NaN,NaN,NaN,NaN
15-19,NaN,NaN,NaN,NaN
20-24,NaN,NaN,NaN,NaN
25-29,NaN,NaN,NaN,NaN
30-34,NaN,NaN,NaN,NaN
35-39,NaN,NaN,NaN,NaN
40+,NaN,NaN,NaN,NaN

In [285]:
#Top Spenders
#Run basic calculations to obtain the results in the table below (Purchase Count, Average Purchase Price, Total Purchase Value)
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

spender_item_count['Spender Item Count'] = purchase_data["SN"].value_counts()
spender_item_count


top_spenders = purchase_data.pivot_table(index=['Purchase ID'],values=['Spender Item Count','Price'],aggfunc=sum)

top_spenders_data_df = pd.DataFrame({
    "SN": ['SN'],
    "Purchase Count": ['Purchase Count'],
    "Average Purchase Price": ['Price'],
    "Total Purchase Value": ['Total Purchase Value']
})

top_spenders_data_df

#Reformat to $XX.XX.
top_spenders_data_df["Average Purchase Price"] = top_spenders_data_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_data_df["Total Purchase Value"] = top_spenders_data_df["Total Purchase Value"].map("${:.2f}".format)

NameError: name 'mean' is not defined

In [284]:
#Most Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

# df.groupby([col1,col2])

# top_item_count = purchase_data["Item Name"].value_counts()
# top_item_count

# top_item_data_count['Purchase Count'] = purchase_data.groupby('Item Name')['Price'].agg(['count'])
# top_item_data_sum['Total Purchase Value'] = purchase_data.groupby('Item Name')['Price'].agg(['sum'])
# top_item_data_sum

purchase_data_count['All Items Count'] = purchase_data['Item Name'].count()
purchase_data_count

popular_item = purchase_data.pivot_table(index=['Purchase ID'],values=['All Items Count','Price'],aggfunc=sum)

popular_item

popular_item_data_df = pd.DataFrame({
    "Item ID": ['Purchase ID'],
    "Item Name": ['Item Name'],
    "Purchase Count": ['Purchase Count'],
    "Item Price": ['Price'],
    "Total Purchase Value": ['Total Purchase Value']
})

popular_item_data_df

#Reformat to $XX.XX.
popular_item_data_df["Item Price"] = popular_item_data_df["Item Price"].map("${:.2f}".format)
popular_item_data_df["Total Purchase Value"] = popular_item_data_df["Total Purchase Value"].map("${:.2f}".format)


popular_item_data_sort = purchase_data.sort_values(['Item Name','Purchase Count'],ascending=[False,False])
popular_item_data_sort

TypeError: 'numpy.int64' object does not support item assignment

In [280]:
#Most Profitable Items
#Sort the above table by total purchase value in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame

purchase_data

top_item_data_count = purchase_data.groupby('Item Name')['Price'].agg(['count'])
top_item_data_sum = purchase_data.groupby('Item Name')['Price'].agg(['sum'])
top_item_data_sum

profitable_item_data_df = pd.DataFrame({
    "Item ID": ['Purchase ID'],
    "Item Name": ['Item Name'],
    "Purchase Count": ['Purchase Count'],
    "Item Price": ['Price'],
    "Total Purchase Value": ['Total Purchase Value']
})

profitable_item_data_df

#Reformat to $XX.XX.
profitable_item_data_df["Item Price"] = profitable_item_data_df["Item Price"].map("${:.2f}".format)
profitable_item_data_df["Total Purchase Value"] = profitable_item_data_df["Total Purchase Value"].map("${:.2f}".format)



top_profit_data_sort = purchase_data.sort_values(['Item Name','Total Purchase Value'],ascending=[False,False])
top_profot_data_sort

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item ID               1 non-null      object
 1   Item Name             1 non-null      object
 2   Purchase Count        1 non-null      object
 3   Item Price            1 non-null      object
 4   Total Purchase Value  1 non-null      object
dtypes: object(5)
memory usage: 168.0+ bytes

In [ ]:
#Observations:
1. Those in the 20-24 age bracket spend more cumulatively because this group is larger in numbers, but those who are 35-39 and <10 years old buy more expensive items. I can't make any solid inferences on why--my guess is 35-39 group buys more on average (more discretionary income?), and those under 10 years old have not gotten into extracirriculars and might hyperfixate on a game and ask for their parents' credit card.
2. The most add-ons a single player bought is only 5. If the release date of these add-ons is fairly recent, then it can be a reflection of that. If the release date is not recent, either the game has enough perks that players do not feel the need to add on or players might not think the add-ons are worth the expense.
3. The distribution of the age of the players closely resembles a bell curve, with 76.74% of the player base ages 15-29. Therefore, it is best to market to that demographic (preferably without alienating the younger or older age groups)